<!DOCTYPE html>
<html lang="es-CL">
<head>
	<meta charset="UTF-8">
	<title>Sistema de control de estado, caracteristicas e inventariado de equipos</title>
	<link rel="stylesheet" href="../static/styles.css">
	<img href="" rel="stylesheet">
</head>
<body>
	<header>
		<h2>SCECI</h2>
	</header>
	<section>
		<div style="float: left; width: 50%">
				<a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inicio</a>
				<img class="mb-4" onclick="window.open('views.html')" src="/imagenes/img1.jpg" alt="" width="72" height="72" style="text-align: left">
                <a href="">Tabla</a>
		</div>
		<div style="float: left; width: 50%">
				<img class="mb-4" 	src="../imagenes/Imagen1.png" button href="home.html" class="btn btn-lg btn-primary btn-block btn-link">
			<a href="">script</a>
		</div>
	</section>
	
	<a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inicio</a>
	<footer>
		proyecto de tesisi Leonardo Muñoz. Todos los derechos reservados.
	</footer>
</body>
</html>