<!doctype html>
<html lang="es-cl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>SCECI</title>

    <link rel="stylesheet" href="static/styles2.css">
  </head>

<body>
	<header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="title">SCECI</h1>
          </div>
        </div>
      </div>
    </header>
	<section id=content>
        <div class="container">
            <div class="row">
                <div style="float: left; width: 100%">
				    <a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Tabla</a>
				    <img class="mb-4" src="imagenes/img1.jpg" alt="" width="75" height="100" style="text-align: left">
		        </div>
		        <div style="float: left; width: 100%">
				    <a href="login.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Script</a>
				    <img class="mb-4" src="imagenes/img2.jpg" alt="" width = "100" heigth= "100" button href="index.html" class="btn btn-lg btn-primary btn-block btn-link">
		        </div>
            </div>
        </div>
	</section>
	<footer>
		proyecto de tesisi Leonardo Muñoz. Todos los derechos reservados.
        <div>
        
        </div>
	</footer>
</body>
</html>